* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}

body {
  max-width: 100%;
  height: 2000px;
  background-image: url('images/tobias-reich-Evw7_g2qn_g-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER - logo, jezici, meni */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header .div1 {
  background-color: #D9D9D9;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 60px;
  width: 100%;
  padding: 0 5%;
}

.header .div1 .jezici ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;

}

.header ul {
  background-color: white;
}

.header .div1 .jezici ul li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  background-color: white;

}

.header .div1 .jezici ul li .active {
  text-decoration: none;
  color: rgb(171, 169, 169);
}

.header .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header .navbar ul {
  display: flex;
  flex: 1;
}

.header .navbar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  list-style-type: none;
  border: 0.5px solid #6C6C6C;
  padding: 2rem;

}

.header .navbar ul li h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.header .navbar ul li p {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}


header .navbar .burger {
  display: none;
  font-size: 20px;
}



/* Slideshow 3 slike */

.slideshow-container {
  max-width: auto;
  position: absolute;
  margin: auto;
  background-color: #fff;
}

.slideshow-container .circleImg {
  position: absolute;

}


.slideshow-container .circleImg:hover {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* div - leva strana slika desna pasus */

main .divVeliki {
  background-color: white;
  display: flex;
  padding: 80px 0;
  gap: 2rem;
  position: relative;
}

main .divVeliki .slikaLevo {
  flex: 1;
}

main .divVeliki .slikaLevo .imgLevo {
  width: 100%;
}

main .divVeliki .tekstDesno {
  flex: 1;
  margin-right: 10rem;
}

main .divVeliki .tekstDesno .gore .naslovVeliki {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 34px;
  color: #303030;
}


main .divVeliki .dvgOneRight .gore .naslovMali h4 {
  color: #474747;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2%;


}


main .divVeliki .tekstDesno .doleTekst {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

main .divVeliki .tekstDesno .doleTekst p {
  font-style: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(71, 71, 71, 1);
  ;
}

main .divVeliki .tekstDesno .doleTekst .oNama {
  width: 184px;
  height: 48px;
  display: inline-block;
  top: 1374px;
  left: 765px;
  font-size: medium;
  border-radius: 4px;
  gap: 8px;
  background: rgba(191, 15, 15, 1);
  color: #fff;
  text-align: center;
  border: 0;
  margin-top: 3%;
  font-weight: 500;
  border-radius: 4px;

}



/* Slideshow container */
.slideshow-container {
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
  
}
.mySlides img {
  width: 100%;
}

.slideshow-container .circleImg {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.slideshow-container .circleImg:hover {
  cursor: pointer;
}


.image {
  display: block;
  height: 400px;
  width: 2000px;
  text-align: center;
}


h4 {
  font-size: 20px;
  color: rgb(64, 47, 47);
}

.sivalinija::after {
  content: "";
  display: block;
  width: 80%;
  height: 6px;
  background-color: rgb(209, 201, 201);
}

/* Parallax - slika je body divovi beli */
.parallax-container {
  position: relative;
  height: 400px;
  /* Podesite visinu prema vašim potrebama */
  overflow: hidden;
}

.parallax-image {
  width: 100%;
  height: 500px;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.parallax-content h1 {
  font-size: 36px;
}

.parallax-content p {
  font-size: 18px;
}

/* Tri male slike sa opisom */

main .triSlikeMale {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 80px 0;
}
.triSlikeMale .slikica {
  flex: 20%;
  margin-left: 50px;
}

main .triSlikeMale p {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.slikiceLinijice::after {
  content: "";
  height: 2px;
  width: 20%;
  background-color: #bf0f0f;
  margin-top: 0.5rem;
  display: block;

}

.velikiMaliNaslovi {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.velikiMaliNaslovi h3{
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  align-items: center;
  justify-content: center;
}

.velikiMaliNaslovi p{
font-family: Inter;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
margin-top: 20px;

}
.linijaBrojka::after{
content: "";
height: 6px;
width: 110%;
background-color: #bf0f0f;
margin-top:20px;
display: block;
justify-content: right;
}

.statistika {
  display: flex;
  justify-content: center;
  background-color: #fff;
  background-image:url('images/Rectangle\ 140.png') ;
  width:100%;
top: 2767px;
left: -1px;

}
.statistika ul {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 4%;
  height: 9%;
}
.statistika ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  list-style-type: none;
  border-right: 0.5px solid #6C6C6C;
  color: #fff;
  
  


}
.statistika ul li h3{
  font-family: Inter;
font-size: 46px;
font-weight: 900;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
}
.statistika ul li p{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}

/* Div sa puno elemenata */
.najveciDiv {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
  font-family: "Roboto";
  align-items: center;  padding: 70px;
  
}

.najveciDiv p{
  font-family: Inter;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
width: 506px;

}

.naslovILinija::after{
content: "";
height: 6px;
width: 100%;
background-color: #bf0f0f;
display: block;
justify-content: right;
margin-top: 20px;
}

.tekstic{
 text-align: center;
 width: 524px;
}

.tekstic p{
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 22px;
text-align: center;
padding: 80px;

}


.proizvodi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;


}
.proizvodi {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 80px 0;
}
.proizvodi .pIme {
  flex: 20%;
  margin-left: 50px;
}
.kartica {
  flex: 20%;
}

/* mobilni */
@media only screen and (max-width: 600px) {

  .divVeliki {
    flex-direction: column;
    height: auto;
  }

  .middle .text {
    font-size: 16px;
  }

  .header .navbar .nav-links {
    display: none;
  }

  .header .navbar .burger {
    display: block;
    background-color: #fff;
  }

    /* Prikazujemo horizontalni meni kad je burger meni otvoren */
  .header .navbar .nav-links.show {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    background-color: #ffffff;
  }

  .header .navbar .nav-links li {
    display: flex;

  }

  .header .navbar .nav-links li h3 {
    display: block;
    font-size: 10px;
  }

  .header .navbar .nav-links li p {
    display: block;

  }
  main .triSlikeMale {
    flex-direction: column;
  }
 
}
